<div class="card">
  <div *ngFor="let match of matchArray">
    <div class="date">
        <h3>{{ match.MatchDate }}</h3>
    </div>
    <div class="image-container">
      <div class="col">
        <img class="logoImg" src="./assets/img/logotID/l{{match.MatchHomeId}}.png">
      </div>
      <div class="col">
        <h2><b>VS</b></h2>
      </div>
      <div class="col">
        <img class="logoImg" src="./assets/img/logotID/l{{match.MatchAwayId}}.png">
      </div>
    </div>
    <div class="container2">
      <div class="col-sm-6">
        <h4><b>{{ match.MatchHomeTeam }}</b></h4>
      </div>
      <div class="col-sm-6">
        <h4><b>{{ match.MatchAwayTeam }}</b></h4>
      </div>
    </div>
  </div>
</div>
