p {
    /* background: #2F3F94; */
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */

}

h4 {
    text-align: center;
}

.header {
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: large;
  }

h2 {
    margin-top: 100%;
}

.card {
    /* background: #2F3F94; */
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    overflow: auto;
    height: 80vh;
}

.date {
    text-align: center;
}

.container2 {
    /* background: #2F3F94; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    display: flex;
    justify-content: space-evenly;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.logoImg {
    height: 120px;
    width: 150px;
}

/*Scrollbar customization*/
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
