/* body {
  background-color: green;
} */

.divisionHeader {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.781);
  border-radius: 10px; /* 5px rounded corners */
  padding: 5px;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: large;
}

a, a:hover {
  color: #FFF;
}
.card {
    /* background: #2F3F94; */
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    overflow-x: hidden;
    height: 80vh;
}
/*Scrollbar customization*/
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
