

<div class="card">


<div class="row">
  <div class="col-sm-6">
    Team
  </div>
  <div class="col-sm-1">
    W
  </div>
  <div class="col-sm-1">
    L
  </div>
  <div class="col-sm-1">
    OTL
  </div>
  <div class="col-sm-1">
    Pts
  </div>
</div>
<div class="divisionHeader">
  Metropolitan Division
</div>
  <div *ngFor="let team of metroStats.divisionRecords">
    <div class="row">
      <div class="col-sm-6">
        <a href="">{{ team.team.name }}</a>

     </div>
      <div class="col-sm-1">
          {{ team.leagueRecord.wins }}
      </div>
      <div class="col-sm-1">
          {{ team.leagueRecord.losses }}
      </div>
      <div class="col-sm-1">
          {{ team.leagueRecord.ot }}
      </div>
      <div class="col-sm-1">
          {{ team.points }}
      </div>
    </div>
  </div>

<div class="divisionHeader">
  Atlantic Division
</div>
<div *ngFor="let team of atlanticStats.divisionRecords">
  <div class="row">
    <div class="col-sm-6">
      {{ team.team.name }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.wins }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.losses }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.ot }}
    </div>
    <div class="col-sm-1">
        {{ team.points }}
    </div>
  </div>
</div>

<div class="divisionHeader">
  Central Division
</div>
<div *ngFor="let team of centralStats.divisionRecords">
  <div class="row">
    <div class="col-sm-6">
      {{ team.team.name }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.wins }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.losses }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.ot }}
    </div>
    <div class="col-sm-1">
        {{ team.points }}
    </div>
  </div>
</div>

<div class="divisionHeader">
  Pacific Division
</div>
<div *ngFor="let team of pacificStats.divisionRecords">
  <div class="row">
    <div class="col-sm-6">
      {{ team.team.name }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.wins }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.losses }}
    </div>
    <div class="col-sm-1">
        {{ team.leagueRecord.ot }}
    </div>
    <div class="col-sm-1">
        {{ team.points }}
    </div>
  </div>
</div>
</div>
