.JOwnContainer
{
  /*background-color: burlywood;*/
  border-radius: 5%;
  padding: 0;
  margin: 0;
  height: 80vh;

}

.viewTeamRoster
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: large;
}

.teamLogos
{
  /*background-color: brown;*/

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.teamOwnLogo
{
  margin: 3px;
  height: 6vh;
  width: auto;

  border-style: solid;
  border-width: 3px;
  border-color: whitesmoke;

  background-color: whitesmoke;
  opacity: 75%;
  border-radius: 100%;

}

.teamOwnLogo:hover
{
  border-color: blue;
  opacity: 100%;
}

.teamRoster
{
  overflow: auto;
  /*background-color: aqua;*/
height: 30vh;
}

ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
li p
{
  margin: 0;
  padding: 0;
}
.playerCard
{

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: center;

  border-radius: 10px;
  width: 8vw;
  padding: 3px;
  margin: 5px;
  background-color: #bbb9b960;

}

.playerCard img
{
  border-radius: 50%;
  height: 10vh;
  width: auto;
}

.playerCard .playerInfo
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  /*justify-content: center;*/
  align-items: center;

  /*background-color: aliceblue;*/
}

.playerCard p.name
{
  font-size: larger;
  font-weight: bolder;
  text-align: center;
}

/*Scrollbar customization*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
