<div class="JOwnContainer">

  
 <div class="teamLogos">
    <img class="teamOwnLogo" id="24" (click)="getTeamRoster($event)" src="./assets/img/logot/AnaheimDucks.png">
    <img class="teamOwnLogo" id="53" (click)="getTeamRoster($event)" src="./assets/img/logot/ArizonaCoyotes.png">
    <img class="teamOwnLogo" id="6" (click)="getTeamRoster($event)" src="./assets/img/logot/BostonBruins.png">
    <img class="teamOwnLogo" id="7" (click)="getTeamRoster($event)" src="./assets/img/logot/BuffaloSabres.png">
    <img class="teamOwnLogo" id="20" (click)="getTeamRoster($event)" src="./assets/img/logot/CalgaryFlames.png">
    <img class="teamOwnLogo" id="12" (click)="getTeamRoster($event)" src="./assets/img/logot/CarolinaHurricanes.png">
    <img class="teamOwnLogo" id="16" (click)="getTeamRoster($event)" src="./assets/img/logot/ChicagoBlackhawks.png">
    <img class="teamOwnLogo" id="21" (click)="getTeamRoster($event)" src="./assets/img/logot/ColoradoAvalanche.png">
    <img class="teamOwnLogo" id="29" (click)="getTeamRoster($event)" src="./assets/img/logot/ColumbusBlueJackets.png">
    <img class="teamOwnLogo" id="25" (click)="getTeamRoster($event)" src="./assets/img/logot/DallasStars.png">
    <img class="teamOwnLogo" id="17" (click)="getTeamRoster($event)" src="./assets/img/logot/DetroitRedWings.png">
    <img class="teamOwnLogo" id="22" (click)="getTeamRoster($event)" src="./assets/img/logot/EdmontonOilers.png">
    <img class="teamOwnLogo" id="13" (click)="getTeamRoster($event)" src="./assets/img/logot/FloridaPanthers.png">
    <img class="teamOwnLogo" id="26" (click)="getTeamRoster($event)" src="./assets/img/logot/LosAngelesKings.png">
    <img class="teamOwnLogo" id="30" (click)="getTeamRoster($event)" src="./assets/img/logot/MinnesotaWild.png">
    <img class="teamOwnLogo" id="8" (click)="getTeamRoster($event)" src="./assets/img/logot/MontréalCanadiens.png">
    <img class="teamOwnLogo" id="18" (click)="getTeamRoster($event)" src="./assets/img/logot/NashvillePredators.png">
    <img class="teamOwnLogo" id="1" (click)="getTeamRoster($event)" src="./assets/img/logot/NewJerseyDevils.png">
    <img class="teamOwnLogo" id="3" (click)="getTeamRoster($event)" src="./assets/img/logot/NewYorkRangers.png">
    <img class="teamOwnLogo" id="2" (click)="getTeamRoster($event)" src="./assets/img/logot/NewYorkIslanders.png">
    <img class="teamOwnLogo" id="9" (click)="getTeamRoster($event)" src="./assets/img/logot/OttawaSenators.png">
    <img class="teamOwnLogo" id="4" (click)="getTeamRoster($event)" src="./assets/img/logot/PhiladelphiaFlyers.png">
    <img class="teamOwnLogo" id="5" (click)="getTeamRoster($event)" src="./assets/img/logot/PittsburghPenguins.png">
    <img class="teamOwnLogo" id="28" (click)="getTeamRoster($event)" src="./assets/img/logot/SanJoseSharks.png">
    <img class="teamOwnLogo" id="19" (click)="getTeamRoster($event)" src="./assets/img/logot/St.LouisBlues.png">
    <img class="teamOwnLogo" id="14" (click)="getTeamRoster($event)" src="./assets/img/logot/TampaBayLightning.png">
    <img class="teamOwnLogo" id="10" (click)="getTeamRoster($event)" src="./assets/img/logot/TorontoMapleLeafs.png">
    <img class="teamOwnLogo" id="23" (click)="getTeamRoster($event)" src="./assets/img/logot/VancouverCanucks.png">
    <img class="teamOwnLogo" id="54" (click)="getTeamRoster($event)" src="./assets/img/logot/VegasGoldenKnights.png">
    <img class="teamOwnLogo" id="15" (click)="getTeamRoster($event)" src="./assets/img/logot/WashingtonCapitals.png">
    <img class="teamOwnLogo" id="52" (click)="getTeamRoster($event)" src="./assets/img/logot/WinnipegJets.png">
 </div>

 <div class="teamRoster">
    <ul *ngIf="teamRoster">
      <li *ngFor="let roster of teamRoster">
        <div class="playerCard">
          <img src="https://nhl.bamcontent.com/images/headshots/current/168x168/{{roster.person.id}}.jpg" alt="{{roster.person.fullName}}">
          <div class="playerInfo">
            <p class="name">{{roster.person.fullName}}</p>
            <p>#{{roster.jerseyNumber}}</p>
            <p>{{roster.position.name}}</p>
          </div>

        </div>

      </li>
    </ul>
 </div>
</div>
