.title {
  background-color: rgba(47, 64, 148, 0.5);
  border-radius: 10px; /* 5px rounded corners */
  width:auto;
  margin: 10px;
  justify-content: center;
  display: flex;
}
.logo {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; /* 5px rounded corners */
  width:fit-content;
  margin: 10px;
}

.header {
  color: #FFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(47, 64, 148, 0.5);

  padding: 0;
  margin: 0;
  text-align: center;
  font-size: large;
}

.col-sm-4 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px; /* 5px rounded corners */
}
.maincontainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}

.upcomingMatches
{
  background-color: rgba(47, 64, 148, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px; /* 5px rounded corners */
  height: 82vh;
  padding: 10px;
}

.teamStats
{
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-weight: bold;
  background-color: rgba(47, 64, 148, 0.5);
  color: #FFF;
  border-radius: 5px; /* 5px rounded corners */
  height: 82vh;
}

.teamPlayerStats
{
  background-color: rgba(47, 64, 148, 0.5);;
  border-radius: 5px; /* 5px rounded corners */
  height: 82vh;
}
/*Scrollbar customization*/
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
