
<div class="containerner">
  <app-visitors-component></app-visitors-component>
</div>

<div class="title">
  <div class="logo">
    <img src="../assets/img/logot/nhlnow_logo.png">
  </div>
</div>
<!--
<div class="maincontainer">

  <!-- <div class="upcomingMatches"> -->

    <div class="col-sm-4">
      <div class="header">
        UPCOMING MATCHES
      </div>
      <div class="upcomingMatches">
        <app-up-coming-matches-component></app-up-coming-matches-component>
      </div>
    </div>

  <!-- <div class="teamStats"> -->
    <div class="col-sm-4">
      <div class="header">
        TEAM STANDINGS
      </div>
      <div class="teamStats">


        <app-team-stats></app-team-stats>

    </div>
    </div>


  <!-- <div class="teamPlayerStats"> -->
    <div class="col-sm-4">
      <div class="header">
        TEAM ROSTERS
      </div>
      <div class="teamPlayerStats">
      <app-team-player-stats></app-team-player-stats>
      </div>
    </div>


<!-- </div>-->

  <!-- <div class="row">
    <div class="col-xl-4 col-sm-4">
      <app-up-coming-matches-component></app-up-coming-matches-component>
    </div>
    <div class="col-xl-4 col-sm-4">
      <app-team-stats></app-team-stats></div>
    <div class="col-xl-4 col-sm-4"><app-team-player-stats></app-team-player-stats></div>
  </div> -->


<!--
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <app-up-coming-matches-component></app-up-coming-matches-component>
    </div>
    <div class="col-xs-6 col-sm-4">
      <app-team-stats></app-team-stats></div>
    <div class="col-xs-6 col-sm-4"><app-team-player-stats></app-team-player-stats></div>
  </div>
-->


<div class="container">
  <!--<router-outlet></router-outlet>-->
</div>
