*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: royalblue;
  background-image: url("./assets/img/logotID/NHLbg.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}
/*.container
{
  min-width: 100%;
  background-color: rebeccapurple;
}*/
